<form name="form">
  <div class="row mb-4">
    <div class="col-xs-12">
      <p class="section-title">Datos de la visita</p>
    </div>
  </div>

  <div class="row mb-4">
      <div class="col-xs-12 col-md-4 g-3">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" id="dni" name="dni" class="form-control" placeholder="Ingrese documento" [(ngModel)]="dni">
      </div>
      <div class="col-xs-12 col-md-2 g-3 btn-section">
        <button type="button" name="consultar" class="btn btn-warning" (click)="consultar()">Consultar</button>
      </div>

      <div class="col-xs-12 col-md-6 output">
        <p>Nombre y apellido</p>
        <p>{{ fullName }}</p>
      </div>
  </div>

  <hr class="hr">

  <div class="row mb-3">
    <div class="col-xs-12 col-md-4 g-3">
      <label for="card-number">Nro. de tarjeta de ingreso</label>
      <input type="text" id="card-number" name="card-number" class="form-control" placeholder="Ingrese numero" [(ngModel)]="nroTarjeta">
    </div>

    <div class="col-xs-12 col-sm-6 col-md-2 g-3 output">
      <p>Fecha de ingreso</p>
      <p>{{ dateIn }}</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 g-3 output">
      <p>Hora de ingreso</p>
      <p>{{ hourIn }}</p>
    </div>
  </div>

  <div class="row mb-6">
    <div class="col-xs-12 col-md-6 g-3">
      <label for="select-section">Sector</label>
      <select id="select-section" name="select-visit" class="form-select" [(ngModel)]="sectorSelected" (change)="seleccionarSector()">
        <option value="">Seleccione</option>
        <option *ngFor="let opt of sectoresList">{{opt}}</option>
      </select>
    </div>

    <div class="col-xs-12 col-md-6 g-3">
      <label for="select-visit">Visita a</label>
      <select id="select-visit" name="select-visit" class="form-select" [(ngModel)]="visitaSelected">
        <option value="">Seleccione</option>
        <option *ngFor="let opt of visitaAList" >{{opt}}</option>
      </select>
    </div>
  </div>

  <div class="row mb-6">
    <div class="col-xs-12 btn-section">
      <button type="button" name="ingresar" class="btn btn-warning align-self-end" (click)="ingresar()">Ingresar</button>
    </div>
  </div>

</form>

<section>
  <div class="row mb-4">
    <div class="col-12">
      <p class="section-title">Historial de la visita</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora de ingreso</th>
              <th scope="col">Visitó a</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of historialList | paginate: { itemsPerPage: 10, currentPage: page }; index as i">
              <th scope="row">{{person.id}}</th>
              <td>{{person.fecha}}</td>
              <td>{{person.hora}}</td>
              <td>{{person.nombreCompleto}}</td>
              <td><button type="button" (click)="eliminar(i)">X</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 btn-section">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
</section>
